		#osp-container {
			width: 1000px;
			margin: 0px auto;
			padding: 20px;
		}
		#osp-header {
			padding: 20px;
			margin-bottom: 20px;
			border: 1px solid #bcbcbc;
			background-color: lightgrey;
		}
		#osp-content {
			width: 750px;
			padding: 20px;
			margin-bottom: 20px;
			float: right;
			border: none;
		}
		#osp-sidebar {
			width: 150px;
			padding: 20px;
			margin-bottom: 20px;
			float: left;
			background-color: #D4F4FA;
		}
		#osp-footer {
			clear: both;
			padding: 20px;
		}
		legend {
    		background-color: DimGrey;
    		color: white;
    		padding: 3px 6px;
		}
		tr:nth-child(2n) {
			background-color: #ebf1de;
		}
		tr:nth-child(2n+1) {
			background-color: #d9d9d9;
		}